<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All Test Cases">
	<test name="Smoke Test">
		<packages>
			<package name="com.prestashop.tests.login" />
		</packages>
	</test>
	<test name="Integration Test">
		<packages>
			<package name="com.prestashop.tests.user_account" />
			<package name="com.prestashop.tests.checkout" />
		</packages>
	</test>
</suite>
